@use "./styles/variables" as *;

$radius: 0.7rem;
$small_radius: 0.3rem;

.product_card {
  transition: transform 0.3s, box-shadow 0.2s 0.1s;
  border-radius: $radius;
  text-align: center;
  border: 0.3rem solid $color-medbud;

  position: relative;
  padding: 0.4rem;
  height: 18rem;
  overflow: hidden;

  display: flex;
  flex-direction: column; /* Stack children vertically */

  .like_button {
    display: flex;
    align-items: center;
    width: 20%;
    height: 1.3rem;
    position: absolute;
    border-radius: $radius 0 0 $radius;
    background-color: $color-medbud;
    top: 1.5rem;
    right: 0;

    .like_icon {
      transition: color 0.3s;
      position: relative;
      top: 0.1rem;
      left: 0.4rem;
      color: $color-milk;
      &.isLiked {
        color: $color-decapink;
      }
      &:hover {
        color: $color-spink;
      }
    }
  }

  .image_body {
    background-color: white;
    padding: 0.3rem 0.3rem 0.2rem 0.3rem;
    border-radius: $radius $radius 0 0;
    flex: 2 1 0;

    img {
      border-radius: $radius;

      height: 90%;
      width: 100%;
    }
  }

  .info {
    border-radius: 0 0 $radius $radius;
    background-color: white;
    padding: 0.4rem 0.4rem 0.3rem 0.4rem;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;

    .name {
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: break-word;

      &:hover {
        color: green;
      }
    }

    .buy_area {
      transition: border 0.3s linear, background-color 0.3s;
      border-radius: $small_radius;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto auto 0.2rem;
      width: 50%;
      border: 0;

      &:hover {
        transition: opacity 0.5s, background-color 0.2s;
        background-color: $color-banayellow;
        color: white;
        .price {
          transition: color 0.2s;
        }
        .buy_button {
          i {
            color: white;
            transition: color 0.2s;
          }
        }
      }

      .price {
        transition: left ease 0.5s;
        padding: 0.2rem 0.3rem;
        font-weight: bold;

        left: 1em;
        position: relative;
        bottom: -0.1rem;

        span {
          font-size: 0.7rem;
        }
      }

      .buy_button {
        transition: opacity 0.5s;
        opacity: 0;
        border-radius: 0 0.27rem 0.27rem 0;
        padding: 0 0.3rem 0 0.3rem;
      }
    }
    --lh: 1rem;

    .truncate_overflow {
      display: -webkit-box;
      -webkit-line-clamp: 3; /* Number of lines to display before truncating */
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  &:hover {
    transform: scale(1.1, 1.1);
    z-index: 99;
    box-shadow: 0 0 6px 1px $color-medbud;

    .info {
      .buy_area {
        background-color: $color-medbud;

        .buy_button {
          opacity: 1;
        }

        .price {
          left: 0;
        }
      }
    }
  }
}
