@use "./styles/variables" as *;

@mixin link(
  $colorFrom1: white,
  $colorTo1: white,
  $colorFrom2: black,
  $colorTo2: black
) {
  background: linear-gradient(to right, $colorFrom1, $colorTo1),
    linear-gradient(to right, $colorFrom2, $colorTo2);

  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;

  text-decoration: none;

  transition: background-size 400ms, color 200ms;
  &:hover {
    background-size: 0 2px, 100% 3px;
  }
}

@mixin decor_line($bg-color) {
  height: 1rem;
  background-color: $bg-color;
}

@mixin on_hover_card() {
  transition: transform 0.3s, box-shadow 0.2s 0.1s;
  &:hover {
    transform: scale(1.1, 1.1);
    z-index: 99;
    box-shadow: 0 0 6px 1px $color-medbud;
    border: 0.5px solid $color-medbud;
  }
}

@mixin text_muted() {
  color: $color-indep-muted !important;
}
