@use "./variables" as *;
@use "./mixins" as *;

@import "./normalize.scss";
@import "./reset.scss";
@import "./comps/buttons.scss";

html {
  body {
    p,
    h1,
    h2 {
    }

    p {
      margin-bottom: 0;
    }

    a {
      text-decoration: none;
      color: $color-blue-dasl;
    }

    .link {
      text-decoration: none;
      color: inherit;
    }

    button {
      &:focus {
        border: none;
      }

      &:active {
        border: none;
      }

      &:visited {
        border: none;
      }
    }

    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  overscroll-behavior: none;
}

.disabled {
  color: rgba($color-blue-dasl, 0.3) !important;
  pointer-events: none;
}

.min-vh-80 {
  min-height: 80vh;
}

.modal-header {
  padding: 0.9em 1.5em !important;
  margin-bottom: 1em !important;

  button {
    border-radius: none;
    @include icon_on_hover;
  }
}

.modal_header_title_center {
  display: flex !important;
  justify-content: center !important;

  position: relative;

  button {
    position: absolute;
    right: 1.5em;
  }
}

input[disabled] {
  background-color: rgba($color-blue-dasl, 0.1);
  font-weight: bold;
}

.accordion-item {
  h2 {
    button {
      background-color: transparent !important;
      box-shadow: none !important;
    }
  }
}

input {
  appearance: none;
}

.landing_header {
  padding: 1rem 3rem 2rem 3rem;

  @media screen and (width < 992px) {
    padding: 1rem 1rem 0 3rem;
  }

  @media screen and (width < 768px) {
    padding: 1rem 2rem 0 1rem;
  }
}

.price {
  line-height: 1;

  font-weight: bold;
  color: $color-red-suncycl;

  span {
    font-weight: 100;
    font-size: 0.5em;
  }
}
