@use "styles/variables" as *;
@use "styles/mixins" as *;

.modal {
  color: $color-blue-dasl;

  .button_group {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;

    list-style: none;

    li:last-child button {
      // @include button(white, $color-red-decapink);
      // @include button(white, $color-red-decapink);
    }
    li:first-child button {
      // @include button($color-blue-dasl, $color-green-medbud);
    }
  }
}
