@use "styles/variables" as *;
@use "styles/mixins" as *;

.cart_item {
  padding: 1rem 2rem;
  border-bottom: 1px solid $color-wh-lightsilv;

  &:last-child {
    border-bottom: none;
  }

  > div:first-child {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1rem;

    position: relative;

    img {
      object-fit: contain;
      max-width: 10%;
      height: 8rem;
    }

    p {
    }

    button {
      position: absolute;
      right: 0;
      top: 0;

      font-size: 1.2rem;
      line-height: 1rem;

      box-shadow: 0 0 0 0.05rem $color-wh-lightsilv;
      padding: 0.3rem;
      border-radius: 10%;
    }
  }

  > div:nth-child(2) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;

    .quantity_input {
      justify-self: flex-end;
      flex: 0 1 40%;
    }
    .price {
      flex: 0 1 10%;
      font-size: 2rem;
    }
  }
}
