@use "./styles/variables" as *;
@use "./styles/mixins" as *;

.password_input_container {
  display: flex;

  .eye_button {
    padding: 0 1rem;
    font-size: 1.5em;
    color: $color-blue-dasl;

    &:hover {
      //todo styles eye for hover
    }
  }
}
