@use "./styles/variables" as *;
@use "./styles/mixins" as *;

.password_input_container {
  display: flex;

  .eye_button {
    padding: 0.5rem;

    font-size: 1.5em;
    color: $color-blue-dasl;

    i {
      padding: 0.5rem;
      border-radius: 50%;
    }

    &:hover {
      //todo styles eye for hover
    }
  }
}
