@use "./styles/variables" as *;

.alert {
  width: 100%;

  &.animated {
    position: absolute;
    z-index: 9999;
    opacity: 1;
    top: -100px;
    animation: slideOut 4s forwards;

    @keyframes slideOut {
      0% {
        top: -100px;
        opacity: 0;
      }
      20% {
        top: 0;
        opacity: 1;
      }
      80% {
        top: 0;
        opacity: 1;
      }
      100% {
        display: none;
        top: -100px;
        opacity: 0;
      }
    }
  }
}
