@use "./styles/variables" as *;
@import "root/node_modules/rfs/sass.sass";

.navbar_container {
  background-color: $color-medbud;
  font-family: $font-family-balsamiq-sans;
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1vw;
    width: 100%;
    @include padding(0 4rem);
  }
}

.navbar_toggler {
  padding: 0;
  border: 0;
  color: $color-bangreen;
}

.underline {
  height: 1rem;
  background-color: $color-nyanza;
}

.search_bar {
  flex: 0 1 50% !important;
}

.profile_popover_dfjs {
  flex: 1 1 25% !important;
}

.logo_container {
  flex: 1 1 25% !important;
}
