@use "./styles/mixins" as *;
@use "./styles/variables" as *;
@import "root/node_modules/rfs/sass.sass";

.gallery_container {
  .heading {
    h2 {
      width: 20%;
      a {
        @include margin-left(20%);

        // font-weight: bold;
        font-family: $font-family-balsamiq-sans;
        @include font-size(2.5rem);
        color: $color-daslgrey;
        @include link(
          $color-medbud,
          $color-nyanza,
          $color-bangreen,
          $color-medbud
        );
      }
    }

    &:hover a {
    }
  }

  .decor_line {
    @include decor_line($color-nyanza);
  }
}
