@use "./styles/mixins" as *;
@use "./styles/variables" as *;
@import "root/node_modules/rfs/sass.sass";

$underline_thickess: 0.3rem;

.gallery_container {
  font-family: $font-family-balsamiq-sans;

  h2 {
    margin-left: 5%;

    @include font-size(2.5rem);

    a {
      color: $color-daslgrey;

      @include link(
        $color-medbud,
        $color-nyanza,
        $color-bangreen,
        $color-medbud
      );
    }
  }

  .gallery {
    margin: 1rem auto;
  }
}
