@use "./styles/variables" as *;
@use "./styles/mixins" as *;
@import "node_modules/rfs/sass.sass";

.by_services {
  .subheading {
    color: rgba($color-blue-dasl, 0.7);
  }

  .button_group {
    display: flex;
    flex-direction: column;
    gap: 1em;

    margin-top: 1rem;

    .service_button {
      // gap: 10%;
      justify-content: flex-start;
      gap: 10px;

      img {
        margin-left: 20%;
      }

      color: black;
      background-color: white;
    }
  }
}
