@use "./styles/variables" as *;
@use "./styles/mixins" as *;

.body {
  padding: 1rem;

  .buy_area {
    display: flex;

    flex-flow: row wrap;
    align-items: center;
    gap: 1rem;

    padding: 1rem;
    border-radius: 0.5rem;

    width: 100%;

    box-shadow: 0 0 0 0.05rem $color-wh-lightsilv;

    font-size: 3rem;

    .price {
      display: flex;
      flex-direction: column;

      line-height: 1;

      font-size: 2rem;
      font-weight: bold;
      color: $color-red-suncycl;

      .currency {
        font-weight: 100;
        font-size: 0.5em;
      }

      .left {
        color: $color-blue-dasl;
        font-size: 0.5em;
      }
    }

    .buy_button {
      width: fit-content;

      font-size: 1.5rem;

      background-color: $color-green-yellow;
    }
  }

  .like_button {
    color: $color-yell-banana;
  }

  .like_button,
  .comment_button {
    font-size: 2rem;
    // color: $color-green-yellow;
  }
}
