@use "./styles/variables" as *;
@use "./styles/mixins" as *;

.body {
  display: flex;
  align-items: center;
  gap: 2rem;

  padding: 1rem;

  .buy_area {
    display: flex;
    align-items: center;
    gap: 1rem;

    border-radius: 0.5rem;
    border: 0.2rem solid $color-alabaster;
    padding: 1rem;

    width: fit-content;

    background-color: $color-milk;
    font-size: 3em;

    .price {
      display: flex;
      flex-direction: column;
      line-height: 1;
      // margin: 1rem;

      font-size: 2rem;
      font-weight: bold;
      color: $color-suncycl;
      .currency {
        font-weight: 100;
        font-size: 1.5rem;
      }
      .left {
        color: $color-daslgrey;
        // margin-left: 0.5rem;
        font-size: 1rem;
      }
    }

    .buy_button {
      background-color: $color-yelgreen;
      color: inherit;

      font-size: 0.5em;
      p {
        margin-bottom: 0;
        font-weight: bold;
        font-size: inherit;
      }

      i {
        font-size: inherit;
        line-height: 100%;
      }
    }
  }

  .like_button,
  .comment_button {
    font-size: 2rem;
    color: $color-yelgreen;
  }
}
