@use "./styles/variables" as *;
@use "./styles/mixins" as *;

.body {
  padding: 1rem;

  .buy_area {
    display: flex;

    flex-flow: row wrap;
    align-items: center;
    gap: 1rem;

    padding: 1rem;
    border-radius: 0.5rem;

    width: 100%;

    box-shadow: 0 0 0 0.05rem $color-lightsilv;

    font-size: 3rem;

    .price {
      display: flex;
      flex-direction: column;

      line-height: 1;

      font-size: 2rem;
      font-weight: bold;
      color: $color-suncycl;

      .currency {
        font-weight: 100;
        font-size: 0.5em;
      }

      .left {
        color: $color-daslgrey;
        font-size: 0.5em;
      }
    }

    .buy_button {
      background-color: $color-yelgreen;

      font-size: 1.5rem;
    }
  }

  .like_button,
  .comment_button {
    font-size: 2rem;
    color: $color-yelgreen;
  }
}
