@use "./styles/variables" as *;
@use "./styles/mixins" as *;

.characteristics {
  color: $color-daslgrey;
  font-family: $font-family-balsamiq-sans;
  padding: 2em;

  .title {
    width: fit-content;
    @include underline(
      $color-medbud,
      $color-nyanza,
      $color-bangreen,
      $color-medbud
    );
    cursor: pointer;
  }

  .item {
    // margin-top: 1em;
    font-size: 1.3em;
    overflow-wrap: break-word;
  }
}
