@use "./styles/variables" as *;
@use "./styles/mixins" as *;

.filters_offcanvas_toggler {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  background-color: greenyellow;
  padding: 0 10%;
  width: 100%;
}
