@use "./styles/variables" as *;
@use "./styles/mixins" as *;

.landing_product_about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
  row-gap: 1rem;

  .product_figure {
  }

  .product_main_info {
  }
  .description {
  }

  .reviews {
  }

  .characteristics {
  }
  .recs {
  }
}
