@use "./styles/variables" as *;
@use "./styles/mixins" as *;

.description {
  padding: 2em;
  color: $color-daslgrey;
  max-height: 200px; // Set the desired height
  overflow: hidden;

  transition: max-height 0.3s ease-in-out; // Add a smooth transition effect
  &.expanded {
    max-height: 100%; // Expand to show all content
  }

  .text {
    margin-top: 1em;
    font-size: 1.3em;
    overflow-wrap: break-word;
  }

  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }

  table {
    border-radius: 6px;
    overflow: hidden;
    border-collapse: collapse;
    width: 100%;

    th {
      @include text_muted($color-daslgrey, 0.8);
    }

    th,
    td {
      padding: 8px;
      text-align: center;
      border-bottom: 1px solid #ddd;
    }
    th {
      background-color: #f2f2f2;
    }
  }
}
