@use "./styles/variables" as *;
@use "./styles/mixins" as *;

.landing_product_figure {
  .image {
    width: 100%;

    padding: 1rem;

    object-fit: contain;
  }

  .thumbnails {
    display: flex;
    gap: 5px;

    padding: 5px 0;
    margin: 0 10%;

    height: 5rem;

    overflow-x: auto;
    overflow-y: hidden;

    .thumbnail {
      display: flex;
      justify-content: center;
      align-items: center;

      //todo make thumbnails smaller in width
      // width: 5rem;

      padding: 5px;

      border-radius: 5px;

      border: 1px solid transparent;

      &.selected {
        border-color: $color-green-medbud;
      }

      .thumbnail_image {
        object-fit: contain;
        height: 100%;
        width: min-content;
      }
    }

    @media screen and (width < 992px) {
      margin: 0 5px;
    }
  }
}
