@use "./styles/variables" as *;
@use "./styles/mixins" as *;

.nav_item {
  margin: 0.2rem;
  padding: 0.3rem;
  border-radius: 0.2rem;

  color: $color-blue-dasl;

  $icon-size: 2.5rem;

  svg {
    width: $icon-size;
    height: $icon-size;
  }

  i,
  svg {
    padding: 0.5rem;
    border-radius: 10%;

    $icon-size: 2.5rem;
    font-size: $icon-size - 1rem;
    width: $icon-size;
    height: $icon-size;

    background-color: rgba($color-blue-dasl, 0.1);
    color: rgba($color-blue-dasl, 1);

    transition: background-color 0.25s, color 0.25s;
  }

  a {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 5%;

    padding: 0 0.5rem;

    p {
      font-size: 1.2rem;
      color: black;
    }
  }

  transition: background-color 0.25s;
  &:hover {
    background-color: $color-green-medbud;

    i,
    svg {
      background-color: $color-green-dur;
      color: white;
    }
  }
}
