@use "./styles/variables" as *;
@import "root/node_modules/rfs/sass.sass";

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .icon,
  .brand {
    margin: 0 auto;

    @include font-size(3rem);
    color: $color-daslgrey;
    font-family: $font-family-pacifico;
    font-weight: bold;
  }

  .icon {
  }
}
