@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;
@import "@/node_modules/rfs/sass.sass";

.profile_popover {
  border: 0.5px solid $color-bangladesh-green;
  font-family: $font-family-balsamiq-sans;
  background-color: white;

  .unsigned_popover,
  .signed_popover {
  }

  .unsigned_popover {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 0.5rem;

    .sign_in_button {
      width: 100%;
      display: flex;
      justify-content: center;

      color: $color-milk;

      @include font-size(1.5rem);
    }
  }

  .signed_popover {
    p {
      @include font-size(1.4rem);
      @include margin-top(0.5rem);
      @include link(black, $color-bangladesh-green);
      &:hover {
        transform: scale(1.05);
      }

      i {
        margin-right: 0.5rem;
        width: fit-content;
        height: fit-content;
      }
    }
  }
}

.profile_icon {
  color: $color-bangladesh-green;
}
