@use "./styles/variables" as *;
@use "./styles/mixins" as *;
@import "root/node_modules/rfs/sass.sass";

.foo {
  width: fit-content;
  height: fit-content;
}

.profile_popover {
  box-shadow: 0 0 5px 3px lightgrey;
  --bs-popover-border-color: transparent !important;

  font-family: $font-family-balsamiq-sans !important;
  background-color: white;

  .unsigned_popover {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 0.5rem;

    p {
      margin-bottom: 0;
    }

    .sign_in_button {
      width: 100%;

      @include font-size(1.5rem);
      background-color: $color-bangreen;
      color: $color-milk;

      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
      &:hover {
        background-color: $color-dureen;
      }
      &:active {
        color: $color-milk;
      }
    }
  }

  .signed_popover {
    @include padding(0.5rem);
    @include font-size(1.5rem);

    p {
      color: $color-daslgrey;

      @include link(
        $color-medbud,
        $color-nyanza,
        $color-bangreen,
        $color-medbud
      );

      &:hover {
        transform: scale(1.05);
        color: $color-bangreen;
      }
    }

    ul {
      margin-bottom: 0 !important;
      padding-left: 0 !important;
    }
  }
}

.profile_icon {
  color: $color-daslgrey;
}
