@use "./styles/variables" as *;

.breadcrumbs {
  ol {
    margin: 0;

    li {
      a {
        color: rgba($color: $color-blue-dasl, $alpha: 0.9);
      }

      &.active {
        font-weight: bold;
      }
    }
  }

  @media screen and (max-width: 768px) {
    display: inline-block;
    line-height: normal;
    padding: 0;

    &::before {
      font-family: "bootstrap-icons";
      color: $color-blue-dasl !important;
      content: "\F22D" !important;
      display: inline-block;
      vertical-align: text-top;
    }

    &:not(:nth-last-child(2)) {
      display: none;
    }
  }
}
