@use "styles/variables" as *;
@use "styles/mixins" as *;

.modal {
  color: $color-blue-dasl;
  overflow-x: hidden;

  footer {
    padding: 2rem;
    margin-top: 5rem;
    border-top: 0.05rem solid $color-wh-lightsilv;

    .total_cost {
      font-size: 3rem;
      text-align: end;

      color: $color-green-dur;

      span:first-child {
        color: $color-blue-dasl;
        margin-right: 1rem;
      }
    }

    .controls {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-end;
      justify-content: space-between;

      margin-top: 2rem;

      .order_btn {
        font-size: 1.5rem;
      }
    }

    @media screen and (width < 662px) {
      .total_cost {
        text-align: center;
      }

      .controls {
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        margin-top: 2rem;

        li {
          width: 100%;
        }

        li:first-child {
          order: 2;
        }
        li:last-child {
          order: 1;
        }
      }
    }
  }
}
