@use "styles/variables" as *;
@use "styles/mixins" as *;

.modal {
  color: $color-blue-dasl;

  footer {
    padding: 2rem;
    margin-top: 5rem;
    border-top: 0.05rem solid $color-wh-lightsilv;

    .total_cost {
      font-size: 3rem;
      text-align: end;

      color: $color-green-dur;

      span:first-child {
        color: $color-blue-dasl;
        margin-right: 1rem;
      }
    }

    .controls {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-end;
      justify-content: space-between;

      margin-top: 2rem;

      .order_btn {
        font-size: 1.5rem;
      }
    }
  }
}
